node_modules
coverage
**/.turbo
**/dist
.env
.npmrc
storybook-static

.idea

.turbo
.next
.wireit

.env

.DS_Store
**/build-storybook.log
bin/*/**.js
**/src/__test__/__screenshots__
__screenshots__
.scannerwork
test-results

**/playwright-html-report
**/playwright-report

**/allure-report
**/allure-results
/.mcpregistry_registry_token
/.mcpregistry_github_token
/developer-notes/INTERVIEW_QUESTIONS_PROMPT.md
/developer-notes/QUESTIONS.md
